@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;

:root {
  /* =======================
     COLORS — BRAND
  ======================= */
  --blue-base: #2C46B1;
  --blue-dark: #2C4091;

  /* =======================
     COLORS — GRAYSCALE
  ======================= */
  --white: #FFFFFF;
  --gray-100: #F9F9FB;
  --gray-200: #E4E6EC;
  --gray-300: #CDD0E5;
  --gray-400: #74798B;
  --gray-500: #4D505C;
  --gray-600: #1F2025;

  /* =======================
     FEEDBACK
  ======================= */
  --danger: #B12C4D;

  /* =======================
     SEMANTIC TOKENS
  ======================= */
  --surface-primary: var(--gray-200);
  --surface-secondary: var(--gray-100);

  --text-primary: var(--gray-600);
  --text-secondary: var(--gray-500);
  --text-muted: var(--gray-400);

  --border-default: var(--gray-200);
  --border-strong: var(--gray-300);

  --highlight: var(--blue-base);
  --highlight-hover: var(--blue-dark);

  /* =======================
     RADIUS
  ======================= */
  --radius-s-base: 4px;
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-xl: 24px;

  /* =======================
     SHADOW
  ======================= */
  --shadow-soft: 0 4px 24px rgba(0, 0, 0, 0.08);
}



@theme inline {

  /* COLORS */
  --color-blue-base: var(--blue-base);
  --color-blue-dark: var(--blue-dark);

  --color-surface-primary: var(--surface-primary);
  --color-surface-secondary: var(--surface-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-border-default: var(--border-default);
  --color-border-strong: var(--border-strong);

  --color-danger: var(--danger);

  /* RADIUS */
  --radius-s:var(--radius-s-base);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
}




@layer base {
  * {
    @apply box-border;
  }

  html {
    font-family: "Open Sans", system-ui, sans-serif;
  }

  body {
    @apply bg-gray-200 text-[color:var(--text-primary)];
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }
}